
//   section-rotate-cards
.section-rotate-cards{
    text-align: center;
    padding: 25rem 0;
    margin-top: -8rem;
    background-color:  $color-grey-light-1;
}

.card{
    position: relative;
    perspective: 150rem;
       
        &__front{
            background-color: $color-white;
            height: 52rem;
            transition: all 1s ease-in-out;
            backface-visibility: hidden;
            border-radius: 3px;
            overflow:  hidden;
            box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    
        
        }
    
        [class^="card__back"]{
            position: absolute;
            top:0;
            left: 0;
            height: 52rem;
            width: 100%;
            backface-visibility: hidden;
            transition: all 1s ease-in-out;
            transform: rotateY(180deg);
            border-radius: 3px;
            box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        }
    
        //hover 
        &:hover &__front{
        transform: rotateY(-180deg);
        }
        &:hover [class^="card__back"]{
            transform: rotateY(0);
            }
        
        //3 different backs format:
        &__back-1{
            background-image: linear-gradient(to right bottom, $color-sec-light, $color-sec-dark);
        }
        &__back-2{
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
        }
      
    
        // photo format:
        [class^="card__photo"]{
            background-size: cover;
            height: 23rem;
            background-blend-mode: screen;
            clip-path: polygon(0 0 , 100% 0 , 100% 100%, 0 75%)
        }
        // different photos format:
        &__photo-1{
            background-image: linear-gradient(to right bottom, $color-sec-light, $color-sec-dark)
            ,url(/photos/FreecodeCamp2.png);
        
            }
        &__photo-2{
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark)
            ,url(/photos/codeacademy2.png);
        
            }
                
        //title format:
    
        &__title{
            position: absolute;
            top: 1rem;
           left:5rem;
            width:75%;
            text-align: center;
            color:$color-white;
            text-transform: uppercase;
         
            [class^="card__heading"]{
                
                font-size: 2.4rem;
                font-weight: 300;
                // color:$color-white;
                // text-transform: uppercase;
                display: inline;
                padding: .75rem 1.5rem;
                -webkit-box-decoration-break: clone;
                box-decoration-break: clone;
    
                
               
            }
          
        }
    
        // different titles format:
    
        &__heading-1{
            background-image: linear-gradient(to right bottom, rgba($color-sec-light, .8), rgba($color-sec-dark, .8));
         }
    
        &__heading-2{
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .8));
    
        }
    
        //text-list format
        &__details{
            ul{
                list-style: none;
                margin: 0 auto;
                width:80%;
                font-size: 1.5rem;
                padding: 3rem;
    
                li{
                    
                    text-align: center;
                    padding: 1rem;
                
                &:not(:last-child){
                    border-bottom: 1px solid $color-grey-light-2;
                    }
                }
            }
        }
        &__cta{
            color: $color-white;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            width:90%;
        }
    }
