
// Optional Classes
.night{
    background-image:linear-gradient(to bottom ,
    $color-grad-night1,
    $color-black),
    url("/photos/pngtest.png"),
     linear-gradient(to top ,
     $color-grad-night3,
     rgba($color-black,.9))
    ;
 }


.evening {
    background-image: linear-gradient(to bottom,
    $color-grad-evening1,
      rgba($color-black, 0.81)),
       url("/photos/pngtest.png"),
        linear-gradient(to top,
        $color-grad-evening3,
        $color-grad-evening4);
}

.morning {
    background-image: linear-gradient(to bottom, 
    rgba($color-white, 0.16),
    $color-grad-morning2),
      url("/photos/pngtest.png"),
       linear-gradient(to top,
       $color-grad-morning3,
       $color-grad-morning4 );
   }
.sunset { 
    background-image: linear-gradient(to bottom,
    $color-grad-sunset1,
    $color-grad-sunset2), 
      url("/photos/pngtest.png"), 
      linear-gradient(to top, 
      $color-grad-sunset3,
      $color-grad-sunset4 )
       ;
   
}
