    // color
    $color-primary-light: #52AAFF;
    $color-primary: #2895FF;
    $color-primary-dark: #0B85FB;
    $color-grey-dark:#777;
    $color-white:#fff;
    $color-black:#000;
    $color-grey-light-1: #f7f7f7;
    $color-grey-light-2 :#eee ;
    $color-sec-light:#ffb900;
    $color-sec-dark:#ff7730;
    $color-ter-light: #FFD601;
    $color-ter-dark:#FFD344;

    $color-grad-night1: rgba(6, 18, 51, 0.7);
    $color-grad-night3:rgba(16, 0, 254, .7);
    $color-grad-evening1:rgba(38, 61, 156, 0.7);
    $color-grad-evening3: rgba(9, 46, 80, 0.9);
    $color-grad-evening4:rgba(43, 32, 107, 0.9);
    $color-grad-morning2:rgba(41, 152, 255, 0.17);
    $color-grad-morning3:#2998ff;
    $color-grad-morning4:#2998ffc9;
    $color-grad-sunset1:rgba(50, 50, 197, 0.3);
    $color-grad-sunset2:rgba(255, 21, 0, 0.3);
    $color-grad-sunset3:rgba(197, 97, 70, 0.7);
    $color-grad-sunset4:rgba(204, 99, 90, 0.5);
    $color-grad-header1:rgba(#003973, 0.7);
	$color-grad-header2:rgba(#E5E5BE,0.5);

    //font
    $def-font-size:1.6rem;
    
    // grid
    $grid-width:114rem;
    $gutter-v: 8rem;
    $gutter-h: 6rem;
    $col-pad: 4rem;
