.composition{
    position: relative;
    &:hover :not(:hover){
        transform: scale(0.9);
    }
    [class^="composition__photo"]{
        width: 55%;
        position: absolute;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4); 
        transition: all .3s;
        border-radius: 3px;
        // z-index: 5;
        
        &:hover{
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4.5rem rgba($color-black, .5);
            outline: 1.5rem solid $color-ter-light;
            z-index: 10;
            outline-offset: 2rem;
        }
        
    }
    &__photo--1{
        top:-2rem;
        left:0;
    }
    &__photo--2{
        top:2rem;
        right:0;
    }
    &__photo--3{
        top:10rem;
        right:25%;
    }
}
