//utility:

.u-center-inline{
    text-align: center;
}
.u-bottom-margin-big{
    margin-bottom: 8rem
}
.u-bottom-margin-medium{
    margin-bottom: 4rem
}.u-bottom-margin-small{
    margin-bottom: 1.5rem
}

.u-top-margin-huge{
    margin-top: 10rem
}
.u-top-margin-big{
    margin-top: 8rem
}
